// base styling
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth; //make auto scrolling on the same page smoother
  }
  
  main {
    background-color: $pastelGreen;
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 0;
  }

  header {
    background-color: $mantis;

    grid-column: 1/4;
    grid-row: 1/3;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 0;

    position: fixed;
    top: 0;
  }

  .company_logo {
    grid-column: 1/2;

    
    
  }

  .company_name {
    grid-column: 2/5;
    
    position: relative;
    top: 20px;
  }

  .iconNav {
    display: block;
    font-size: 50px;
    background-color: black;
    color: white;
    padding: 16px;
    text-align: center;

    a {
      text-decoration: none;

      &:active {
        color: $mantis;
      }

      &:visited {
        color: white;
      }
    }
  }

  footer {
    grid-column: 1/4;
    grid-row: 6/8;
  }

  .whiteTxt {
    color: $whiteTxt;
  }