// base styling
//==============================================================================
// Global site changes
// =============================================================================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; //make auto scrolling on the same page smoother
}

main {
  background-color: $pastelGreen;
  display: grid;
  
  grid: {
    template-columns: repeat(3, 1fr);
    auto-rows: 100px;
    gap: 0;
  }
}

a{
  text-decoration: none;
  color: white;

  &:hover{
    text-decoration: none;
    color: white;
  }
  &:active {
    text-decoration: none;
    color: white;
  }
  &:visited {
    text-decoration: none;
    color: white;
  }
}
.whiteTxt {
  color: $whiteTxt;
}

h2 {
  font: {
    family: 'Skranji', cursive;
    size: 6vw;
  }
}

h3 {
  font: {
    family: 'Indie Flower', cursive;
    size: 8vw;
  }
}

p {
  padding: 10px;
  text: {
    align: justify;
  }
  font: {
    family: 'Didact Gothic';
    size: 14px;
  }
}

.blackOutline
{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
}


//==============================================================================
// Header & Navigation
// =============================================================================
#home_ref { grid-row-start: 1; }  //this allows the header to not cover the slogan

header {
  background-color: $mantis;

  grid: {
    column: 1/4;
    row: 1/3;
  }

  width: 100%;
  display: grid;

  grid: {
    template-columns: repeat(4, 1fr);
    auto-rows: 100px;
    gap: 0;
  }

  position: fixed;  //fixed the header, which contains the navbar, to the top
  top: 0;
}

  // Indented because they are contained in a nested grid
  .company_logo {
    grid-column: 1/2;

    width: 80px;
    height: 50px;

    position: relative; //align the logo
    top: 20px;
    left: 5px;
    a {
      img {
        @include fillSpace;
      }
    }
  }

  .company_name {
    grid-column: 2/5;
    
    position: relative;
    top: 40px;  // vertically align the name

    font: {
      family: 'Skranji', cursive;
      size: 3vw;
    }
  }
  
//==============================================================================
//Home Page
//==============================================================================
.slogan {
  grid: {
    column: 1/4;
    row: 3/7;
  }
  
  text-align: center;
  color: white;
  
  background: {
    image: url(../images/slogan_background_s.jpeg);
    position: center;
  }
  @include bgCover;

  p {
    margin: 100px auto;
  }
}

#category_ref { grid-row-start: 5; } //this allows the header to not cover the categories

#hiking_category {
  grid: {
    column: 1/3;
    row: 7/9;
  }

  background-image: url(../images/category_hiking_s.jpeg);
  @include bgCover;

  &:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);  //creates a tranparent layer over the images when selected
  }
}

#camping_category {
  grid: {
    column: 2/4;
    row: 9/11;
  }

  background-image: url(../images/category_camping_s.jpeg);
  @include bgStretch;

  &:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  }
}

#fishing_category {
  grid: {
    column: 1/3;
    row: 11/13;
  }

  background-image: url(../images/category_fishing_s.jpeg);
  @include bgStretch;

  &:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  }
}

#rockClimbing_category {
  grid: {
    column: 2/4;
    row: 13/15;
  }

  background-image: url(../images/category_rockclimbing_s.jpeg);
  @include bgStretch;

  &:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  }
}

.category {
  a {
    @include fillSpace;
    padding: 50px;
    font: {
      family: 'Skranji', cursive;
      size: 5vw;
    }
  }
}


#hiking_ref { grid-row-start: 13; } //this allows the header to not cover the section
#hiking_section {
  grid: {
    column: 1/4;
    row: 15/19;
  }
  
  background-color: $magicMint;
}

#camping_ref { grid-row-start: 18; }
#camping_section {
  grid: {
    column: 1/4;
    row: 20/24;
  }

  background-color: $aquamarine;
}

#fishing_ref { grid-row-start: 23; }
#fishing_section {
  grid: {
    column: 1/4;
    row: 25/29;
  }

  background-color: $magicMint;
}

#rockClimbing_ref { grid-row-start: 28; }
#rockClimbing_section {
  grid: {
    column: 1/4;
    row: 30/34;
  }

  background-color: $aquamarine;
}

footer {
  grid: {
    column: 1/4;
    row: 34/36;
  }

  background-color: #000;
}

// =============================================================================
// Gallery Page
// =============================================================================
.empty_space {
  grid: {
    column: 1/4;
    row: 1/3;
  }
}

.hiking_gallery {
  grid: {
    column: 1/4;
    row: 3/4;
  }
}

.img1_hiking {
  grid: {
    column: 1;
    row: 4;
  }
}

.img2_hiking {
  grid: {
    column: 2;
    row: 4;
  }
}

.img3_hiking {
  grid: {
    column: 3;
    row: 4;
  }
}

.img4_hiking {
  grid: {
    column: 1;
    row: 5;
  }
}

.img5_hiking {
  grid: {
    column: 2;
    row: 5;
  }
}

.img6_hiking {
  grid: {
    column: 3;
    row: 5;
  }
}

.img7_hiking {
  grid: {
    column: 1;
    row: 6;
  }
}

.img8_hiking {
  grid: {
    column: 2;
    row: 6;
  }
}

.img9_hiking {
  grid: {
    column: 3;
    row: 6;
  }
}

.camping_gallery {
  grid: {
    column: 1/4;
    row: 7/8;
  }
}

.img1_camping {
  grid: {
    column: 1;
    row: 8;
  }
}

.img2_camping {
  grid: {
    column: 2;
    row: 8;
  }
}

.img3_camping {
  grid: {
    column: 3;
    row: 8;
  }
}

.img4_camping {
  grid: {
    column: 1;
    row: 9;
  }
}

.img5_camping {
  grid: {
    column: 2;
    row: 9;
  }
}

.img6_camping {
  grid: {
    column: 3;
    row: 9;
  }
}

.img7_camping {
  grid: {
    column: 1;
    row: 10;
  }
}

.img8_camping {
  grid: {
    column: 2;
    row: 10;
  }
}

.img9_camping {
  grid: {
    column: 3;
    row: 10;
  }
}

.fishing_gallery {
  grid: {
    column: 1/4;
    row: 11/12;
  }
}

.img1_fishing {
  grid: {
    column: 1;
    row: 12;
  }
}

.img2_fishing {
  grid: {
    column: 2;
    row: 12;
  }
}

.img3_fishing {
  grid: {
    column: 3;
    row: 12;
  }
}

.img4_fishing {
  grid: {
    column: 1;
    row: 13;
  }
}

.img5_fishing {
  grid: {
    column: 2;
    row: 13;
  }
}

.img6_fishing {
  grid: {
    column: 3;
    row: 13;
  }
}

.img7_fishing {
  grid: {
    column: 1;
    row: 14;
  }
}

.img8_fishing {
  grid: {
    column: 2;
    row: 14;
  }
}

.img9_fishing {
  grid: {
    column: 3;
    row: 14;
  }
}

.rockClimbing_gallery {
  grid: {
    column: 1/4;
    row: 15/16;
  }
}

.img1_rockClimbing {
  grid: {
    column: 1;
    row: 16;
  }
}

.img2_rockClimbing {
  grid: {
    column: 2;
    row: 16;
  }
}

.img3_rockClimbing {
  grid: {
    column: 3;
    row: 16;
  }
}

.img4_rockClimbing {
  grid: {
    column: 1;
    row: 17;
  }
}

.img5_rockClimbing {
  grid: {
    column: 2;
    row: 17;
  }
}

.img6_rockClimbing {
  grid: {
    column: 3;
    row: 17;
  }
}

.img7_rockClimbing {
  grid: {
    column: 1;
    row: 18;
  }
}

.img8_rockClimbing {
  grid: {
    column: 2;
    row: 18;
  }
}

.img9_rockClimbing {
  grid: {
    column: 3;
    row: 18;
  }
}

.gallery_image {
  @include fillSpace;

  img {
    @include fillSpace;
  }
}

.gallery_footer {
  grid: {
    column: 1/4;
    row: 19/21;
  }
}
//==============================================================================
// Conatct Page
//==============================================================================
form {
  grid: {
    column: 1/4;
    row: 3/7;
  }

  display: grid;
  grid: {
    template-columns: 10% 80% 10%;
    auto-rows: 50px;
    gap: 10px;
  }
}

.form_name {
  grid: {
    column: 2/3;
    row: 2/3;
  }
}
.form_surname {
  grid: {
    column: 2/3;
    row: 3/4;
  }
}
.form_email {
  grid: {
    column: 2/3;
    row: 4/5;
  }
}
.form_subject {
  grid: {
    column: 2/3;
    row: 5/6;
  }
}
.form_message {
  grid: {
    column: 2/3;
    row: 6/8;
  }
  resize: none;
}
.form_send_btn {
  grid: {
    column: 2/3;
    row: 8/9;
  }
}

.contact_footer {
  grid: {
    column: 1/4;
    row: 8/10;
  }

  background-color: #000;
}

//==============================================================================
// _base.scss end
//==============================================================================