.empty_space {
    grid: {
      column: 1/4;
      row: 1/3;
    }
  }
  
  #hiking_gallery {
    grid: {
      column: 1/4;
      row: 3/4;
    }
  }
  
  .img1_hiking {
    grid: {
      column: 1;
      row: 4;
    }
  }
  
  .img2_hiking {
    grid: {
      column: 2;
      row: 4;
    }
  }
  
  .img3_hiking {
    grid: {
      column: 3;
      row: 4;
    }
  }
  
  .img4_hiking {
    grid: {
      column: 1;
      row: 5;
    }
  }
  
  .img5_hiking {
    grid: {
      column: 2;
      row: 5;
    }
  }
  
  .img6_hiking {
    grid: {
      column: 3;
      row: 5;
    }
  }
  
  .img7_hiking {
    grid: {
      column: 1;
      row: 6;
    }
  }
  
  .img8_hiking {
    grid: {
      column: 2;
      row: 6;
    }
  }
  
  .img9_hiking {
    grid: {
      column: 3;
      row: 6;
    }
  }
  
  #camping_gallery {
    grid: {
      column: 1/4;
      row: 7/8;
    }
  }
  
  .img1_camping {
    grid: {
      column: 1;
      row: 8;
    }
  }
  
  .img2_camping {
    grid: {
      column: 2;
      row: 8;
    }
  }
  
  .img3_camping {
    grid: {
      column: 3;
      row: 8;
    }
  }
  
  .img4_camping {
    grid: {
      column: 1;
      row: 9;
    }
  }
  
  .img5_camping {
    grid: {
      column: 2;
      row: 9;
    }
  }
  
  .img6_camping {
    grid: {
      column: 3;
      row: 9;
    }
  }
  
  .img7_camping {
    grid: {
      column: 1;
      row: 10;
    }
  }
  
  .img8_camping {
    grid: {
      column: 2;
      row: 10;
    }
  }
  
  .img9_camping {
    grid: {
      column: 3;
      row: 10;
    }
  }
  
  #fishing_gallery {
    grid: {
      column: 1/4;
      row: 11/12;
    }
  }
  
  .img1_fishing {
    grid: {
      column: 1;
      row: 12;
    }
  }
  
  .img2_fishing {
    grid: {
      column: 2;
      row: 12;
    }
  }
  
  .img3_fishing {
    grid: {
      column: 3;
      row: 12;
    }
  }
  
  .img4_fishing {
    grid: {
      column: 1;
      row: 13;
    }
  }
  
  .img5_fishing {
    grid: {
      column: 2;
      row: 13;
    }
  }
  
  .img6_fishing {
    grid: {
      column: 3;
      row: 13;
    }
  }
  
  .img7_fishing {
    grid: {
      column: 1;
      row: 14;
    }
  }
  
  .img8_fishing {
    grid: {
      column: 2;
      row: 14;
    }
  }
  
  .img9_fishing {
    grid: {
      column: 3;
      row: 14;
    }
  }
  
  #rockClimbing_gallery {
    grid: {
      column: 1/4;
      row: 15/16;
    }
  }
  
  .img1_rockClimbing {
    grid: {
      column: 1;
      row: 16;
    }
  }
  
  .img2_rockClimbing {
    grid: {
      column: 2;
      row: 16;
    }
  }
  
  .img3_rockClimbing {
    grid: {
      column: 3;
      row: 16;
    }
  }
  
  .img4_rockClimbing {
    grid: {
      column: 1;
      row: 17;
    }
  }
  
  .img5_rockClimbing {
    grid: {
      column: 2;
      row: 17;
    }
  }
  
  .img6_rockClimbing {
    grid: {
      column: 3;
      row: 17;
    }
  }
  
  .img7_rockClimbing {
    grid: {
      column: 1;
      row: 18;
    }
  }
  
  .img8_rockClimbing {
    grid: {
      column: 2;
      row: 18;
    }
  }
  
  .img9_rockClimbing {
    grid: {
      column: 3;
      row: 18;
    }
  }
  
  .gallery_image {
    @include fillSpace;
  
    img {
      @include fillSpace;
    }
  }
  
  .gallery_footer {
    grid: {
      column: 1/4;
      row: 19/21;
    }
  }
  @media (min-width: 1024px){
    .sidebar {
      grid: {
        column: 1;
        row: 3/21;
      }
      background-color: black;
    }
  }