.iconNav {
    display: block;
    font-size: 50px;
    background-color: black;
    color: white;
    padding: 16px;
    text-align: center;

    a {
      text-decoration: none;

      &:active {
        color: $mantis;
      }

      &:visited {
        color: white;
      }
    }
}

nav {
    display: none;
}