//==============================================================================
// Icon navigation bar for mobile and tablet
//==============================================================================
.iconNav {
    display: block;
    font-size: 50px;
    background-color: black;
    color: white;
    padding: 16px;
    text-align: center;

    a {
      text-decoration: none;

      &:active {
        color: $mantis;
      }

      &:visited {
        color: white;
      }
    }
}
@media (min-width: 768px){
  .iconNav {
    font-size: 100px;
  }
}

nav {
    display: none;  //hide the unused navigation bar
}

//==============================================================================
// Navigation bar for desktop with dropdown
//==============================================================================

//==============================================================================
// Sidebar for gallery page (Desktop only)
//==============================================================================

//==============================================================================
// _navbar.scss end
//==============================================================================