//==============================================================================
// Icon navigation bar for mobile and tablet
//==============================================================================
.iconNav {
    display: block;
    font-size: 50px;
    background-color: black;
    color: white;
    padding: 16px;
    text-align: center;

    a {
      text-decoration: none;

      &:active {
        color: $mantis;
      }

      &:visited {
        color: white;
      }
    }
}
@media (min-width: 768px){
  .iconNav {
    font-size: 100px;
  }
}

.desktopNav {
  display: none;  //hide the unused navigation bar
}

.sidebar {
  display: none;
}
//==============================================================================
// Navigation bar for desktop with dropdown
//==============================================================================
@media (min-width: 1024px){
  .iconNav {
    display: none;
  }
  .desktopNav {
    display: block;
    

    a, .dropbtn a{
      text-decoration: none;
      @include fillSpace;
      font-size: 50px;
      background-color: black;
      color: white;
      text-align: center;

      font: {
        family: 'Didact Gothic';
      }

      &:active {
        color: $mantis;
      }

      &:visited {
        color: white;
      }
      &:hover {
        color:black;
        background-color: white;
        text-decoration: underline;
      }
    }
}
  .sidebar {
    display: block;
  }
}
@import "partials/dropdown";
//==============================================================================
// Sidebar for gallery page (Desktop only)
//==============================================================================
.sidebar {
  .sidebarItem { 
    display: block;
    width: 300px;
    height: 100px;
    position: fixed;
    background-color: black;
    z-index: 1;

    &:hover {
      border-left: 5px solid $mantis;
    }
    font: {
      family: 'Didact Gothic';
    }

    a {
      @include fillSpace;

      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.sidebar_hiking {
  top: 200px;
}
.sidebar_camping {
  top: 300px;
}
.sidebar_fishing {
  top: 400px;
}
.sidebar_rockClimbing {
  top: 500px;
}
//==============================================================================
// _navbar.scss end
//==============================================================================