// variables:

// color pallete
$pastelGreen: #82E584;
$mantis: #7BC950;
$aquamarine: #9CFFD9;
$magicMint: #B6EFD4;
$paleCerulean: #A0CCDA;
@import "partials/variables",
        "partials/mixins",
        "partials/color-functions",
        "partials/functions",
        "partials/base"

// $defaultFont: ;

// mixins:


